* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

header {
    background-color: #fff4e7;
    padding: 50px 12%;
}


/* navber style  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #131313;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.menu a {
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
}

/* banner styles */

.banner-text {
    text-align: center;
    margin-top: 70px;
    padding: 0 15%;

}

.banner-title {
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: #131313;
    margin-bottom: 30px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.btn-primary button {
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #ff900e;
}

.banner-img img {
    width: 100%;
    margin-top: 50px;
}

/* banner style end */

.feature-container {
    margin: 85px 200px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
    align-items: center;
}

.img-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.img-side img {
    width: 100%;
}
.text-side{[
    width: 50%;
    padding-top: 45%;
]}

/* feature title style  */

.feature-title { 
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
}

.feature-title .grey {
    font-weight: 500;
    color: #727272;
}
.feature-title .black{
    color: #131313;
    font-weight: 700;
}
.feature-title .orange{
    color: #ff900e;
    font-weight: 700;
}
/* feature title style end  */

.feature-description{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #727272;
margin-bottom: 20px;
}
#btn-2 button{
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px;
}

/* second container style */

.second-contianer{
    padding: 50px 12% 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* text part styles */
.text-part{
    padding-right: 100px;
}
.main-title{
    border-left:5px solid #ff900e;
    padding-left: 10px;
    font-size: 28px;
    margin-bottom: 15px;
}
.sub-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.description{
    font-size: 16px;
    line-height: 23px;
    color: #727272;
}
.sub-div{
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #d4d1d1;
    border-radius: 5px;
}

/* text-part end  */

/* image part styles */

.image-part{
    position: relative;
}
.image-part img{
    width: 480px;
}
#btn-3{
    position: absolute;
    top: 610px;
    right: 365px;
}
#btn-3 button{
    padding: 25px 30px;
}
.fst-line{
    font-size: 36px;
}
.scnd-line{
    font-size: 16px
}
.text-part{
    width:;
}

/* third section styles */

.third-section{
    padding: 0px 12% 100px;
}
.third-section-title{
    font-size: 28px;
    margin-bottom: 15px;
}
.animate-part{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.animate-box{
    text-align: center;
    border: 2px solid #ff900e;
    border-radius: 5px;
    padding: 15px 20px;
    width: 130px;
    height: 130px;
    transition: width 1s, height 1s, transform 2s;
}
.animate-box h1{
    font-weight: 600;
    font-size: 30px;
    color: #424242;
}
.animate-box p{
    font-weight: 600;
    font-size: 14px;
    color: #727272;
}
.animate-box:hover{
    width: 140px;
    height: 140px;
    background-color: #ff900e;
    transition: 2s ease-in-out;
    transform: rotate(360deg);
    cursor: pointer;
}
.animate-box:hover h1{
    color: #FFFFFF;
}
.animate-box:hover p{
    color: #FFFFFF;
}

/* sponsors section style  */
.sponsors{
    padding: 0px 12% 100px;
    text-align: center;
}
.sponsor-section-title{
    font-weight: 700;
font-size: 28px;
color: #131313;
margin-bottom: 20px;
}
.sponsors-logos{

    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sponsors-logo img{
    width: 140px;
    filter: grayscale(100%);
}
/* footer style  */

footer{
    padding: 0 12% 50px;
}
.footer-title{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #424242;
    background-color: #fff4e7;
    padding: 30px;

}

/* responsive for mobile screen  */

@media screen and (max-width:576px) {
    header {
        padding: 30px;
    }

    .logo {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 10px;
    }

    .banner-text {
        margin-top: 30px;
    }

    .banner-title {
        font-size: 2.2rem;
        text-align: center;
    }
    .feature-container {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .img-side {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10%;
        
    }
    .second-contianer{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }
    .text-part{
        padding-right:0px;
    }
    .image-part img{
        width: 100%;

    }
    .image-part{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        row-gap: 20px;
    }
    #btn-3{
        position: static;

    }
    .animate-part{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        row-gap: 20px;
    }

    .sponsors-logos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        align-items: center;
    }
}


@media only screen and (min-width:577px) and (max-width:992px) {
    .feature-container {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .img-side{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 0 20%;
    }
    .img-side img{
        width: 100%;
    }
    .second-contianer{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }
    .text-part{
        padding-right:0px;
    }
    .image-part{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        row-gap: 20px;
    }
    .image-part img{
        width: 100%;

    }
    #btn-3{
        position: static;

    }
}